/* Code tidied up by ScrapBook */
.slides, .slides > li, .flex-control-nav, .flex-direction-nav { margin: 0px; padding: 0px; list-style: outside none none; }
.flexslider { margin: 0px; padding: 0px; }
.flexslider .slides > li { display: none; backface-visibility: hidden; }
.flexslider .slides img { width: 100%; display: block; }
.flexslider .slides::after { content: " "; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.flexslider { margin: 0px 0px 60px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 0px none; position: relative; }
.flexslider .slides {  }
.flexslider .slides img { height: auto; -moz-user-select: none; }
.flex-viewport { max-height: 2000px; transition: all 1s ease 0s; }
.flex-direction-nav {  }
.flex-direction-nav a { text-decoration: none; display: block; width: 40px; height: 30px; margin: -20px 0px 0px; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0, 0, 0, 0.8); text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); transition: all 0.3s ease-in-out 0s; }
.flex-direction-nav a::before { font-size: 40px; display: inline-block; content: "<"; color: rgba(0, 0, 0, 0.8); text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.3); }
.flex-direction-nav a.flex-next::before { content: ">"; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-direction-nav .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-direction-nav .flex-prev:hover { opacity: 1; }
.flexslider:hover .flex-direction-nav .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-direction-nav .flex-next:hover { opacity: 1; }
.flex-control-nav { width: 100%; position: absolute; bottom: -40px; text-align: center; }
.flex-control-nav li { margin: 0px 6px; display: inline-block; }
.flex-control-paging li a { width: 11px; height: 11px; display: block; background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; cursor: pointer; text-indent: -9999px; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3) inset; border-radius: 20px; }
.flex-control-paging li a:hover { background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%; }
.flex-control-paging li a.flex-active { background: rgba(0, 0, 0, 0.9) none repeat scroll 0% 0%; cursor: default; }
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px; }
  .flex-direction-nav .flex-next { opacity: 1; right: 10px; }
}
