/* Code tidied up by ScrapBook */
#lbOverlay { position: fixed; top: 0px; left: 0px; z-index: 99997; width: 100%; height: 100%; }
#lbOverlay.black { background-color: rgb(0, 0, 0); }
#lbMain { position: absolute; left: 0px; width: 100%; z-index: 99998; text-align: center; line-height: 0; display: -moz-inline-stack; }
#lbOuterContainer { position: relative; background-color: rgb(255, 255, 255); width: 200px; height: 200px; margin: 0px auto; }
#lbTopContainer, #lbBottomContainer { font: 0.9em/1.4em Verdana,Helvetica,sans-serif; background-color: rgb(255, 255, 255); width: 100%; overflow: hidden; margin: 0px auto; padding: 0px; position: relative; z-index: 14; display: none; }
#lbTopContainer { overflow: hidden; margin-top: 5px; }
#lbImage, #lbIframe { border: medium none; }
#lbImage.black, #lbIframe.black { border-bottom: 1px solid rgb(204, 204, 204); }
#lbImageContainer, #lbIframeContainer { padding: 10px; z-index: 12; }
#lbLoading { height: 100%; width: 100%; margin-top: -10px; background: transparent url("loading_white.gif") no-repeat scroll center center; }
#lbLoading.black { background: transparent url("loading_white.gif") no-repeat scroll center center; }
#lbHoverNav { position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; z-index: 10; }
#lbImageContainer > #lbHoverNav { left: 0px; }
#lbHoverNav a { outline: medium none; }
#lbPrevHov { width: 48%; height: 100%; background: transparent url("blank.gif") no-repeat scroll 0% 0%; display: block; left: 0px; float: left; margin-left: 3px; border: medium none ! important; }
#lbNextHov { width: 48%; height: 100%; background: transparent url("blank.gif") no-repeat scroll 0% 0%; display: block; right: 0px; float: right; margin-right: 3px; border: medium none ! important; }
#lbPrev, #lbPrevTop { width: 26px; height: 28px; float: right; margin: 0px 0px 1px 8px; border: medium none ! important; }
#lbPrev.black, #lbPrevTop.black { background: transparent url("prev_black.png") no-repeat scroll 0% 0%; }
#lbNext, #lbNextTop { width: 26px; height: 28px; float: right; margin: 0px 0px 1px 8px; border: medium none ! important; }
#lbNext.black, #lbNextTop.black { background: transparent url("next_black.png") no-repeat scroll 0% 0%; }
#lbTopData, #lbBottomData { float: left; text-align: left; padding-left: 10px; }
#lbBottomData { padding-bottom: 0.5em; }
#lbBottomData.black, #lbTopData.black { color: rgb(51, 51, 51); }
#lbTopNav, #lbBottomNav { float: right; text-align: right; padding-right: 10px; }
#lbNumTop, #lbNumBottom { font-style: italic; }
#lbDescBottom { display: block; }
#lbTitleTop, #lbTopNav { margin-top: 0.3em; }
#lbTitleTop, #lbTitleBottom { display: block; font-weight: bold; }
#lbClose, #lbCloseTop { width: 26px; height: 28px; float: right; margin: 0px 0px 1px 8px; border: medium none ! important; }
#lbClose.black, #lbCloseTop.black { background: transparent url("close_grey.png") no-repeat scroll 0% 0%; }
#lbPrint, #lbPrintTop { width: 26px; height: 28px; float: right; margin: 0px 0px 1px 8px; border: medium none ! important; }
#lbPrint.black, #lbPrintTop.black { background: transparent url("print_grey.png") no-repeat scroll 0% 0%; }
#lbPlay, #lbPlayTop { width: 26px; height: 28px; float: right; margin: 0px 0px 1px 8px; border: medium none ! important; }
#lbPlay.black, #lbPlayTop.black { background: transparent url("play_grey.png") no-repeat scroll 0% 0%; }
#lbPause, #lbPauseTop { width: 26px; height: 28px; float: right; margin: 0px 0px 1px 8px; border: medium none ! important; }
#lbPause.black, #lbPauseTop.black { background: transparent url("pause_grey.png") no-repeat scroll 0% 0%; }
#lbClose, #lbPrint, #lbPlay, #lbPause { margin: 0px 0px 6px 8px; }
