/* Code tidied up by ScrapBook */
.btn-primary { background: rgb(39, 129, 239) none repeat scroll 0% 0% ! important; color: rgb(255, 255, 255) ! important; border-color: rgb(39, 129, 239) ! important; }
.btn-primary:hover { background: rgb(255, 255, 255) none repeat scroll 0% 0% ! important; color: rgb(39, 129, 239) ! important; border-color: rgb(39, 129, 239) ! important; }
html, body { height: 100%; font-family: "Play",sans-serif ! important; }
a { color: rgb(39, 129, 239); }
.img-hover:hover { opacity: 0.8; }
.navbar { margin-bottom: 0px; border-radius: 0px ! important; }
.navbar-brand { height: 76px; }
.navbar-brand img { height: 45px; }
.navbar-toggle { margin: 22px 20px 0px 0px; }
.navbar-collapse { max-height: 1000px ! important; }
.navbar-nav li a { font-size: 16px ! important; padding-top: 28px; padding-bottom: 28px; text-transform: uppercase; }
.navbar-nav li li a { color: rgb(41, 41, 41) ! important; padding-top: 5px; padding-bottom: 5px; }
.navbar-nav li li a:hover { color: rgb(39, 129, 239) ! important; }
.order_block { background: rgb(39, 129, 239) none repeat scroll 0% 0%; color: rgb(255, 255, 255); padding-top: 40px; padding-bottom: 80px; margin-top: 50px; }
.order_block h2 { font-size: 40px; }
.order_block p { font-size: 20px; line-height: 24px; margin-bottom: 20px; }
footer { background: rgb(39, 129, 239) none repeat scroll 0% 0% ! important; margin: 50px 0px 0px; padding: 20px 0px; color: rgb(255, 255, 255); }
footer a { color: rgb(255, 255, 255) ! important; }
footer a:hover { color: rgb(255, 255, 255) ! important; }
.contact_header { position: relative; padding-top: 10px; padding-bottom: 10px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; color: rgb(255, 255, 255); font-size: 16px; }
.contact_header a { color: rgb(255, 255, 255) ! important; }
.contact_header a i { color: rgb(255, 255, 255); }
.contact_header a:hover { color: rgb(255, 255, 255); text-decoration: none; }
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .navbar-brand img { height: 41px; }
}
